In [1]:
class month_data():
    def __init__(self):
        print("INIT")
        self.data = False

    def set_data(self):
        self.data = True


febbraio2022 = month_data()
print(febbraio2022.data)
febbraio2022.set_data()
print(febbraio2022.data)

INIT
False
True

In [5]:
import pandas as pd

df_data = pd.read_excel("DATI.xlsx", sheet_name="DATI")

df_data

,Data Lettura,Data reale,Giorno,Dato Fascia 1,Consumi GAS [Smc],Consumi ELETTRICI [kwh],Consumi in TEP,Schema Cogen,Schema Gruppi Frigo,Schema Edifici,Note 1,Note 2,T med [°C],T min [°C],T max [°C],Precipitazioni [mm],U.R. min [%],U.R. max [%],V. Vento [m/s]
0,2021-03-19,2021-03-18,GIO,3565794,3132,0.0,0.0,12.0,0.0,10.0,COGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-03-18,2021-03-17,MER,3562662,3060,0.0,0.0,12.0,0.0,10.0,COGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-03-17,2021-03-16,MAR,3559602,3024,0.0,0.0,12.0,0.0,10.0,COGEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-03-16,2021-03-15,LUN,3556578,3070,0.0,0.0,12.0,0.0,10.0,COGEN,Spento pannelli radianti residenza san gregori...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-03-15,2021-03-14,DOM,3553508,3038,0.0,0.0,12.0,0.0,10.0,COGEN,Inserito temporaneamente 1 pompa su rete e pri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534,2017-01-05,2017-01-04,MER,1894407,2579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,2017-01-04,2017-01-03,MAR,1891828,2493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,2017-01-03,2017-01-02,LUN,1889335,2728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537,2017-01-02,2017-01-01,DOM,1886607,2696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,2017-01-01,2016-12-31,SAB,1883911,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN